@charset "UTF-8";
:root {
  --show-user-name: inline-block;
  --show-user-medal: inline-block;
  --show-user-level: inline-block;
  --show-guard-prefix: flex;
  --guard-prefix-width: 20px;
  --show-user-head-img: flex;
  --user-head-img-width: 36px;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Microsoft YaHei, Microsoft Sans Serif, Microsoft SanSerf, \\5FAE软雅黑 !important;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  background: rgba(255, 196, 161, 0);
}

*:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 196, 161, 0.75);
}

*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  /*background: rgba(0,0,0,0.1);*/
  /*border-radius: 5px;*/
  border-radius: 5px;
}

#danmakuPanelBg {
  width: calc(100vw - var(--guard-prefix-width) - 8px - 5px);
  left: 20px;
  height: calc(100vh - 20px);
  position: fixed;
  background-image: linear-gradient(210deg, rgba(255, 140, 85, 0.19) 0%, rgba(191, 208, 255, 0.76) 40%, rgba(236, 215, 255, 0.9686) 60%, #ffc3f5 100%);
  z-index: -1;
}

#danmakuPanel {
  width: calc(100vw - 5px);
  height: calc(100vh - 20px);
  box-sizing: border-box;
  overflow: scroll;
}
#danmakuPanel * {
  overflow-anchor: none;
  -webkit-overflow-anchor: none;
}
#danmakuPanel #danmakuPanelBottom {
  overflow-anchor: auto;
  -webkit-overflow-anchor: auto;
  height: 1px;
}

.danmaku {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 8px;
}
.danmaku .prefix {
  display: var(--show-guard-prefix);
  width: 20px;
  align-items: center;
}
.danmaku .prefixImg {
  width: 20px;
  height: 20px;
}
.danmaku .headImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #4f7dff;
  display: var(--show-user-head-img);
  align-items: center;
}
.danmaku .headImgImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.danmaku .line {
  width: calc(100% - var(--user-head-img-width));
  line-height: 18px;
  font-size: 12px;
  color: #646c7a;
  align-self: center;
  padding-left: 5px;
}
.danmaku .userName {
  color: #23ade5;
  display: var(--show-user-name);
  font-weight: bold;
  text-shadow: 0 0 4px white;
}
.danmaku .content {
  font-weight: 700;
  text-shadow: 0 0 4px white;
}
.danmaku .userMedal {
  border: 1px solid #5896de;
  border-left: 0;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 400;
  width: 60px;
  display: var(--show-user-medal);
  user-select: none;
  -webkit-user-select: none;
}
.danmaku .medalName {
  background-color: #5896de;
  color: white;
  width: 40px;
  padding: 0 2px;
  text-align: center;
  display: block;
  float: left;
  line-height: 14px;
  white-space: nowrap;
}
.danmaku .medalLevel {
  border-color: #5896de;
  background-color: white;
  width: 16px;
  display: inline-block;
  text-align: center;
}
.danmaku .medalLevel-1, .danmaku .medalLevel-2, .danmaku .medalLevel-3, .danmaku .medalLevel-4 {
  border-color: #61decb;
}
.danmaku .medalLevel-1 .medalName, .danmaku .medalLevel-2 .medalName, .danmaku .medalLevel-3 .medalName, .danmaku .medalLevel-4 .medalName {
  background-color: #61decb;
}
.danmaku .medalLevel-1 .medalLevel, .danmaku .medalLevel-2 .medalLevel, .danmaku .medalLevel-3 .medalLevel, .danmaku .medalLevel-4 .medalLevel {
  color: #61decb;
}
.danmaku .medalLevel-5, .danmaku .medalLevel-6, .danmaku .medalLevel-7, .danmaku .medalLevel-8 {
  border-color: #5896de;
}
.danmaku .medalLevel-5 .medalName, .danmaku .medalLevel-6 .medalName, .danmaku .medalLevel-7 .medalName, .danmaku .medalLevel-8 .medalName {
  background-color: #5896de;
}
.danmaku .medalLevel-5 .medalLevel, .danmaku .medalLevel-6 .medalLevel, .danmaku .medalLevel-7 .medalLevel, .danmaku .medalLevel-8 .medalLevel {
  color: #5896de;
}
.danmaku .medalLevel-9, .danmaku .medalLevel-10, .danmaku .medalLevel-11, .danmaku .medalLevel-12 {
  border-color: #a068f1;
}
.danmaku .medalLevel-9 .medalName, .danmaku .medalLevel-10 .medalName, .danmaku .medalLevel-11 .medalName, .danmaku .medalLevel-12 .medalName {
  background-color: #a068f1;
}
.danmaku .medalLevel-9 .medalLevel, .danmaku .medalLevel-10 .medalLevel, .danmaku .medalLevel-11 .medalLevel, .danmaku .medalLevel-12 .medalLevel {
  color: #a068f1;
}
.danmaku .medalLevel-13, .danmaku .medalLevel-14, .danmaku .medalLevel-15, .danmaku .medalLevel-16 {
  border-color: #ff86b2;
}
.danmaku .medalLevel-13 .medalName, .danmaku .medalLevel-14 .medalName, .danmaku .medalLevel-15 .medalName, .danmaku .medalLevel-16 .medalName {
  background-color: #ff86b2;
}
.danmaku .medalLevel-13 .medalLevel, .danmaku .medalLevel-14 .medalLevel, .danmaku .medalLevel-15 .medalLevel, .danmaku .medalLevel-16 .medalLevel {
  color: #ff86b2;
}
.danmaku .medalLevel-17, .danmaku .medalLevel-18, .danmaku .medalLevel-19, .danmaku .medalLevel-20 {
  border-color: #f6be18;
}
.danmaku .medalLevel-17 .medalName, .danmaku .medalLevel-18 .medalName, .danmaku .medalLevel-19 .medalName, .danmaku .medalLevel-20 .medalName {
  background-color: #f6be18;
}
.danmaku .medalLevel-17 .medalLevel, .danmaku .medalLevel-18 .medalLevel, .danmaku .medalLevel-19 .medalLevel, .danmaku .medalLevel-20 .medalLevel {
  color: #f6be18;
}
.danmaku .ul {
  color: #969696;
  display: var(--show-user-level);
  height: 14px;
  line-height: 14px;
  border: 1px solid #969696;
  width: 40px;
  border-radius: 2px;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  user-select: none;
  -webkit-user-select: none;
}
.danmaku .ul-10 {
  border-color: #969696;
  color: #969696;
}
.danmaku .ul-9 {
  border-color: #969696;
  color: #969696;
}
.danmaku .ul-8 {
  border-color: #969696;
  color: #969696;
}
.danmaku .ul-7 {
  border-color: #969696;
  color: #969696;
}
.danmaku .ul-6 {
  border-color: #969696;
  color: #969696;
}
.danmaku .ul-5 {
  border-color: #969696;
  color: #969696;
}
.danmaku .ul-4 {
  border-color: #969696;
  color: #969696;
}
.danmaku .ul-3 {
  border-color: #969696;
  color: #969696;
}
.danmaku .ul-2 {
  border-color: #969696;
  color: #969696;
}
.danmaku .ul-1 {
  border-color: #969696;
  color: #969696;
}
.danmaku .ul-20 {
  border-color: #61c05a;
  color: #61c05a;
}
.danmaku .ul-19 {
  border-color: #61c05a;
  color: #61c05a;
}
.danmaku .ul-18 {
  border-color: #61c05a;
  color: #61c05a;
}
.danmaku .ul-17 {
  border-color: #61c05a;
  color: #61c05a;
}
.danmaku .ul-16 {
  border-color: #61c05a;
  color: #61c05a;
}
.danmaku .ul-15 {
  border-color: #61c05a;
  color: #61c05a;
}
.danmaku .ul-14 {
  border-color: #61c05a;
  color: #61c05a;
}
.danmaku .ul-13 {
  border-color: #61c05a;
  color: #61c05a;
}
.danmaku .ul-12 {
  border-color: #61c05a;
  color: #61c05a;
}
.danmaku .ul-11 {
  border-color: #61c05a;
  color: #61c05a;
}
.danmaku .ul-30 {
  border-color: #5896de;
  color: #5896de;
}
.danmaku .ul-29 {
  border-color: #5896de;
  color: #5896de;
}
.danmaku .ul-28 {
  border-color: #5896de;
  color: #5896de;
}
.danmaku .ul-27 {
  border-color: #5896de;
  color: #5896de;
}
.danmaku .ul-26 {
  border-color: #5896de;
  color: #5896de;
}
.danmaku .ul-25 {
  border-color: #5896de;
  color: #5896de;
}
.danmaku .ul-24 {
  border-color: #5896de;
  color: #5896de;
}
.danmaku .ul-23 {
  border-color: #5896de;
  color: #5896de;
}
.danmaku .ul-22 {
  border-color: #5896de;
  color: #5896de;
}
.danmaku .ul-21 {
  border-color: #5896de;
  color: #5896de;
}
.danmaku .ul-40 {
  border-color: #a068f1;
  color: #a068f1;
}
.danmaku .ul-39 {
  border-color: #a068f1;
  color: #a068f1;
}
.danmaku .ul-38 {
  border-color: #a068f1;
  color: #a068f1;
}
.danmaku .ul-37 {
  border-color: #a068f1;
  color: #a068f1;
}
.danmaku .ul-36 {
  border-color: #a068f1;
  color: #a068f1;
}
.danmaku .ul-35 {
  border-color: #a068f1;
  color: #a068f1;
}
.danmaku .ul-34 {
  border-color: #a068f1;
  color: #a068f1;
}
.danmaku .ul-33 {
  border-color: #a068f1;
  color: #a068f1;
}
.danmaku .ul-32 {
  border-color: #a068f1;
  color: #a068f1;
}
.danmaku .ul-31 {
  border-color: #a068f1;
  color: #a068f1;
}
.danmaku .ul-50 {
  border-color: #ff86b2;
  color: #ff86b2;
}
.danmaku .ul-49 {
  border-color: #ff86b2;
  color: #ff86b2;
}
.danmaku .ul-48 {
  border-color: #ff86b2;
  color: #ff86b2;
}
.danmaku .ul-47 {
  border-color: #ff86b2;
  color: #ff86b2;
}
.danmaku .ul-46 {
  border-color: #ff86b2;
  color: #ff86b2;
}
.danmaku .ul-45 {
  border-color: #ff86b2;
  color: #ff86b2;
}
.danmaku .ul-44 {
  border-color: #ff86b2;
  color: #ff86b2;
}
.danmaku .ul-43 {
  border-color: #ff86b2;
  color: #ff86b2;
}
.danmaku .ul-42 {
  border-color: #ff86b2;
  color: #ff86b2;
}
.danmaku .ul-41 {
  border-color: #ff86b2;
  color: #ff86b2;
}
.danmaku .ul-60 {
  border-color: ff9f3d;
  color: ff9f3d;
}
.danmaku .ul-59 {
  border-color: ff9f3d;
  color: ff9f3d;
}
.danmaku .ul-58 {
  border-color: ff9f3d;
  color: ff9f3d;
}
.danmaku .ul-57 {
  border-color: ff9f3d;
  color: ff9f3d;
}
.danmaku .ul-56 {
  border-color: ff9f3d;
  color: ff9f3d;
}
.danmaku .ul-55 {
  border-color: ff9f3d;
  color: ff9f3d;
}
.danmaku .ul-54 {
  border-color: ff9f3d;
  color: ff9f3d;
}
.danmaku .ul-53 {
  border-color: ff9f3d;
  color: ff9f3d;
}
.danmaku .ul-52 {
  border-color: ff9f3d;
  color: ff9f3d;
}
.danmaku .ul-51 {
  border-color: ff9f3d;
  color: ff9f3d;
}

.gift {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  width: calc(100% - 20px);
  margin-left: 20px;
  padding: 0 8% 0 6%;
  box-sizing: border-box;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(81, 167, 255, 0.38);
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.25);
}
.gift .user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 84px;
}
.gift .userName {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 4px black;
  text-align: center;
}
.gift .headImg {
  width: 36px;
  height: 36px;
}
.gift .headImgImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px 0px #00000078;
}
.gift .giftImg {
  width: 50px;
  height: 50px;
}
.gift .send {
  font-size: 16px;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 0px 1px black, -1px 0px 1px black, 0px -1px 1px black, 0px 1px 1px black;
}
.gift .giftNum {
  min-width: 40px;
  color: white;
  text-shadow: 1px 0px 2px black, -1px 0px 2px black, 0px -1px 2px black, 0px 1px 2px black;
  display: flex;
  font-size: 22px;
  font-weight: bold;
}

#bottom {
  width: calc(100% - var(--guard-prefix-width) - 8px - 5px);
  height: 20px;
  background-color: #3288ff;
  color: white;
  display: flex;
  justify-content: space-around;
  line-height: 20px;
  user-select: none;
  -webkit-user-select: none;
  cursor: move;
  margin-left: var(--guard-prefix-width);
  -webkit-app-region: drag;
}

#popularNum {
  width: 55px;
}

/*# sourceMappingURL=default.css.map */
