@use "sass:map";

$prefixWidth: 20px;
$headImgSize: 36px;
$bottomHeight: 20px;

$giftHeadImgSize: 36px;
$giftHeight: 50px;

$medalColors: (1:#61decb, 2:#5896de, 3:#a068f1, 4:#ff86b2, 5:#f6be18);
$ulColors: (1: #969696, 2:#61c05a, 3:#5896de, 4:#a068f1, 5:#ff86b2, 6: ff9f3d);

$scrollBarWidth: 8px;
$resizeFixSize: 5px;

:root {
  --show-user-name: inline-block;
  //--show-user-name: none;

  --show-user-medal: inline-block;
  //--show-user-medal: none;

  --show-user-level: inline-block;
  //--show-user-level: none;

  --show-guard-prefix: flex;
  //--show-guard-prefix: none;
  --guard-prefix-width: 20px;
  //--guard-prefix-width: 0;

  --show-user-head-img: flex;
  //--user-head-img-display: none;
  --user-head-img-width: 36px;
  //--user-head-img-width: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Microsoft YaHei, Microsoft Sans Serif, Microsoft SanSerf, \\5FAE\8F6F\96C5\9ED1 !important;
}

a {
  text-decoration: none;
  color: black;
}
a:visited{
  color: black;
}

*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: $scrollBarWidth; /*高宽分别对应横竖滚动条的尺寸*/
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  background: rgba(255, 196, 161, 0);
}

*:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 196, 161, 0.75);
}

*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  /*background: rgba(0,0,0,0.1);*/
  /*border-radius: 5px;*/
  border-radius: 5px;
}

#danmakuPanelBg {
  width: calc(100vw - var(--guard-prefix-width) - #{$scrollBarWidth} - #{$resizeFixSize});
  left: 20px;
  height: calc(100vh - #{$bottomHeight});
  position: fixed;
  background-image: linear-gradient(210deg, rgba(255, 140, 85, 0.19) 0%, rgba(191, 208, 255, 0.76) 40%, rgba(236, 215, 255, 0.9686) 60%, #ffc3f5 100%);
  z-index: -1;
}

#mainPanel {
  width: calc(100vw - #{$resizeFixSize});
  height: calc(100vh - #{$bottomHeight});
}

#superChatPanel {
  position: relative;
  width: 100%;
  height: 60px;
  z-index: 100;
  margin-top: calc(#{$bottomHeight} - 100vh);
}

$danmakuMarginTop: 8px;

#danmakuPanel {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;

  box-sizing: border-box;
  overflow: scroll;

  * {
    overflow-anchor: none;
    -webkit-overflow-anchor: none;
  }

  #danmakuPanelBottom {
    overflow-anchor: auto;
    -webkit-overflow-anchor: auto;

    height: 1px;
  }

  .card-detail{
    margin-right: 0;
    margin-bottom: 0;
    margin-top: $danmakuMarginTop;
  }
}

.danmaku {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: $danmakuMarginTop;

  .prefix {
    display: var(--show-guard-prefix);
    width: $prefixWidth;
    align-items: center;
  }

  .prefixImg {
    width: $prefixWidth;
    height: $prefixWidth;
    user-select: none;
    -webkit-user-select: none;
  }

  .headImg {
    width: $headImgSize;
    height: $headImgSize;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #4f7dff;
    display: var(--show-user-head-img);
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
  }

  .headImgImg {
    width: $headImgSize;
    height: $headImgSize;
    border-radius: 50%;
  }

  .line {
    width: calc(100% - var(--user-head-img-width));
    line-height: 18px;
    font-size: 12px;
    color: #646c7a;
    align-self: center;
    padding-left: 5px;
  }

  .userName {
    color: #23ade5;
    display: var(--show-user-name);
    font-weight: bold;
    text-shadow: 0 0 4px white;
  }

  .content {
    font-weight: 700;
    text-shadow: 0 0 4px white;
  }
}

.userMedal {
  border: 1px solid #5896de;
  border-left: 0;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 400;
  width: 60px;
  min-width: 60px;
  display: var(--show-user-medal);
  box-sizing: content-box;
  cursor: default;

  user-select: none;
  -webkit-user-select: none;
}

.medalName {
  background-color: #5896de;
  color: white;
  width: 44px;
  box-sizing: border-box;
  padding: 0 2px;
  text-align: center;
  display: block;
  float: left;
  line-height: 14px;
  white-space: nowrap;
}

.medalLevel {
  border-color: #5896de;
  background-color: white;
  width: 16px;
  display: inline-block;
  text-align: center;
}

.ul {
  color: map.get($ulColors, 1);
  display: var(--show-user-level);
  height: 14px;
  line-height: 14px;
  border: 1px solid map.get($ulColors, 1);
  width: 40px;
  min-width: 40px;
  border-radius: 2px;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  cursor: default;

  user-select: none;
  -webkit-user-select: none;
}

@for $i from 1 through 5 {
  .medalLevel-#{$i * 4 - 3}, .medalLevel-#{$i * 4 - 2}, .medalLevel-#{$i * 4 - 1}, .medalLevel-#{$i * 4},
  {
    border-color: map.get($medalColors, $i);

    .medalName {
      background-color: map.get($medalColors, $i);
    }

    .medalLevel {
      color: map.get($medalColors, $i);
    }
  }
}

@for $i from 1 through 6 {
  @for $j from 0 through 9 {
    .ul-#{$i * 10 - $j } {
      border-color:map.get($ulColors, $i);
      color:map.get($ulColors, $i);
    }
  }
}

.gift {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  width: calc(100% - #{$prefixWidth});
  margin-left: $prefixWidth;
  //height: $giftHeight;
  padding: 0 8% 0 6%;
  box-sizing: border-box;

  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;

  background-color: rgba(81, 167, 255, 0.38);
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.25);

  .user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 84px
  }

  .userName {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 4px black;
    text-align: center;
  }

  .headImg {
    width: $giftHeadImgSize;
    height: $giftHeadImgSize;
  }

  .headImgImg {
    width: $giftHeadImgSize;
    height: $giftHeadImgSize;
    border-radius: 50%;
    box-shadow: 2px 2px 3px 0px #00000078;
    cursor: pointer;
  }

  .giftImg {
    width: $giftHeight;
    height: $giftHeight;
  }

  $sendTextTextShadow: 1px black;

  .send {
    font-size: 16px;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 0px $sendTextTextShadow, -1px 0px $sendTextTextShadow, 0px -1px $sendTextTextShadow, 0px 1px $sendTextTextShadow;
  }

  $giftTextTextShadow: 2px black;

  .giftNum {
    min-width: 40px;
    color: white;
    text-shadow: 1px 0px $giftTextTextShadow, -1px 0px $giftTextTextShadow, 0px -1px $giftTextTextShadow, 0px 1px $giftTextTextShadow;
    display: flex;
    font-size: 22px;
    font-weight: bold;
  }
}

#bottom {
  width: calc(100% - var(--guard-prefix-width) - #{$scrollBarWidth} - #{$resizeFixSize});
  height: $bottomHeight;
  background-color: #3288ff;
  color: white;
  display: flex;
  justify-content: space-around;
  line-height: $bottomHeight;
  user-select: none;
  -webkit-user-select: none;
  cursor: move;
  margin-left: var(--guard-prefix-width);

  -webkit-app-region: drag;
}

#popularNum {
  width: 55px;
}

.card-detail {
  position: relative;
  margin: 0px 8px 10px 20px;
  z-index: 2;
  min-height: 88px;
}
.danmakuPanel .card-detail{
  margin: 0px 0px 10px 20px;
}
.card-item-middle-top {
  border-radius: 6px 6px 0 0;
  height: 50px;
  background-position: 130%;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 8px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card-detail .card-item-middle-top-left{
  cursor: pointer;
}
.card-detail .card-item-middle-top .card-item-middle-top-left .icon-face-frame, .card-detail .card-item-middle-top .card-item-middle-top-left .icon-face{
  width: 30px;
  height: 30px;
  border-radius: 17px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.card-detail .card-item-middle-top .card-item-middle-top-left .icon-face-frame{
  width: 34px;
  height: 34px;
  position: absolute;
  top: 9px;
  left: 9px;
}

.card-detail .card-item-middle-top .card-item-middle-top-right {
  margin: 2px 0 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #333;
  width: 100%;
}
.card-detail .card-item-middle-top .card-item-middle-top-right .name {
  opacity: .78;
  font-size: 12px;
}
.card-detail .card-item-middle-top .card-item-middle-top-right .content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.card-detail .card-item-middle-top .card-item-middle-top-right  {
  margin: 2px 0 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #333;
  width: 100%;
}
.card-detail .card-item-middle-top .card-item-middle-top-right .content-bottom .price span {
  font-size: 12px;
  color: #999;
}
.card-detail .card-item-middle-bottom {
  position: relative;
  padding: 8px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0px 0px 6px 6px;
  min-height: 38px;
}
.card-detail .card-item-middle-bottom .input-contain, .card-detail .card-item-middle-bottom .input-trans-contain {
  position: relative;
  min-height: 12px;
  word-wrap: break-word;
}
.card-detail .card-item-middle-bottom .input-contain .text, .card-detail .card-item-middle-bottom .input-trans-contain .text {
  font-size: 12px;
  color: #fff;
  text-align: left;
  line-height: 20px;
}
.card-detail .card-item-middle-bottom .bottom-background {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

$superChatQueueItemHeight: 38px;
$superCHatQueueItemHolderFixScrollHeight: 7px;
$superChatQueueItemBorder: 2px;
$superChatQueueItemCircleWidth:$superChatQueueItemHeight - 4px;
#superChatQueueHolder {
  width: calc(100% - #{($prefixWidth + $scrollBarWidth)});;
  height: $superChatQueueItemHeight + $superCHatQueueItemHolderFixScrollHeight;
  user-select: none;
  margin: 0 8px 2px 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;

  .superChatQueueItem {
    margin-right: 4px;
    height: $superChatQueueItemHeight;
    border-radius: $superChatQueueItemHeight/2;
    border: 2px solid red;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    float: left;

    .headImgHolder {
      width: $superChatQueueItemHeight - 2 * $superChatQueueItemBorder;
      height: $superChatQueueItemHeight - 2 * $superChatQueueItemBorder;
      border-radius: ($superChatQueueItemHeight - 2 * $superChatQueueItemBorder)/2;
      cursor: pointer;
    }
    .headImg {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .priceAndTimeHolder {
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      margin-right: 5px;
      min-width: 30px;

      .priceHolder{
        color: white;
        cursor: default;
      }
      .remainTimeHolder {
        font-size: 11px;
        color: #ccc;
        text-align: end;
        cursor: default;
      }
    }

    .remainTimeClockHolder{
      width: $superChatQueueItemCircleWidth;
      height: $superChatQueueItemCircleWidth;
      border: 2px solid white;
      border-radius: $superChatQueueItemCircleWidth / 2;
      margin-right: 1px;
      overflow: hidden;
      box-sizing: border-box;
    }
  }
}
$userCardTopBgHeight: 85px;
$userCardContentHeight: 110px;
$userCardHeadImgSize: 64px;
$userCardDiscriptionFontSize: 12px;
$userCardDiscriptionLineHeight: 17px;
$userCardDiscriptionLineCount: 2;
$userCardBadgeHeight: 20px;
$userCardMarginTop: $superChatQueueItemHeight + $superCHatQueueItemHolderFixScrollHeight;
$userCardBasicInfoHeight: $userCardHeadImgSize * 0.5;

#userDetailHolder {
  width: calc(100% - #{$prefixWidth + $scrollBarWidth + $resizeFixSize});
  margin-left: $prefixWidth;
  height: 100%;
  position: fixed;
  z-index: 200;

  #userDetailMask{
    width: 100%;
    height: calc(100% - #{$bottomHeight});
    margin-top: -1 * ($userCardTopBgHeight + $userCardContentHeight + $userCardMarginTop);
    background-color: rgba(0,0,0,0.55);
    z-index: 210;
    position: relative;
  }
  #userDetail {
    width: 100%;
    height: $userCardTopBgHeight + $userCardContentHeight;
    background-color: #f7f9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 7px 0 #9a9a9a;
    z-index: 220;
    position: relative;
    margin-top: $userCardMarginTop;

    #topBg {
      width: 100%;
      height: $userCardTopBgHeight;
      display: flex;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      box-shadow: 0px -4px 8px 0 #737373 inset;
    }

    #basicInfo{
      margin-top: -0.5 * $userCardHeadImgSize;
      height: $userCardBasicInfoHeight;
      align-self: start;
      font-size: 10px;
      color: #c5c5c5;
      box-sizing: border-box;
      padding-top: 5px;
      padding-left: 5px;
    }

    #headImgHolder {
      width: $userCardHeadImgSize;
      height: $userCardHeadImgSize;
      border-radius: $userCardHeadImgSize / 2;
      margin-top: -1 * $userCardHeadImgSize / 2;
      user-select: none;

      img {
        width: $userCardHeadImgSize;
        height: $userCardHeadImgSize;
        border-radius: $userCardHeadImgSize / 2;
      }
    }

    #descriptionHolder {
      max-height: $userCardDiscriptionLineHeight * $userCardDiscriptionLineCount;
      width: calc(100% + #{$userCardDiscriptionLineHeight * $userCardDiscriptionLineCount});
      display: flex;
      justify-content: center;

      .quote {
        width: $userCardDiscriptionLineHeight * $userCardDiscriptionLineCount;
        height: $userCardDiscriptionLineHeight * $userCardDiscriptionLineCount;
        line-height: $userCardDiscriptionLineHeight * $userCardDiscriptionLineCount;
        font-size: $userCardDiscriptionLineHeight * $userCardDiscriptionLineCount;
        float: left;
        color: #dedede;
        font-weight: bold;
        justify-content: center;
        user-select: none;
      }

      #description {
        color: #b76eff;
        float: left;
        font-size: $userCardDiscriptionFontSize;
        max-width: calc(100% - #{$userCardDiscriptionLineHeight * $userCardDiscriptionLineCount * 2});
        max-height: $userCardDiscriptionLineHeight * $userCardDiscriptionLineCount;
        overflow: hidden;
        text-overflow: ellipsis;
        //display: -webkit-box;
        display: flex;
        -webkit-line-clamp: $userCardDiscriptionLineCount;
        -webkit-box-orient: vertical;
        align-items: center;
      }
    }

    #badgesHolder {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .badge {
      }

      .guardBadge {
        width: $userCardBadgeHeight;

        img {
          height: $userCardBadgeHeight;
          width: $userCardBadgeHeight;
        }
      }

      .userMedalBadge{
        cursor: pointer;
      }

      & > * + * {
        margin-left: 5px;
      }
    }
  }
}
