@use "sass:map";

$prefixWidth: 20px;
$headImgSize: 36px;
$bottomHeight: 20px;

$medalColors: (1:#61decb, 2:#5896de, 3:#a068f1, 4:#ff86b2, 5:#f6be18);
$ulColors: (1: #969696, 2:#61c05a, 3:#5896de, 4:#a068f1, 5:#ff86b2, 6: ff9f3d);

:root {
  --show-user-name: inline-block;
  //--show-user-name: none;

  --show-user-medal: inline-block;
  //--show-user-medal: none;

  --show-user-level: inline-block;
  //--show-user-level: none;

  --show-guard-prefix: flex;
  //--show-guard-prefix: none;
  --guard-prefix-width: 20px;
  //--guard-prefix-width: 0;

  --show-user-head-img: flex;
  //--user-head-img-display: none;
  --user-head-img-width: 36px;
  //--user-head-img-width: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Microsoft YaHei, Microsoft Sans Serif, Microsoft SanSerf, \\5FAE\8F6F\96C5\9ED1 !important;
}

a {
  text-decoration: none;
}

#danmakuPanelBg {
  width: calc(100vw - 20px);
  left: 20px;
  height: calc(100vh - #{$bottomHeight});
  position: fixed;
  background-image: linear-gradient(210deg, rgba(255, 140, 85, 0.19) 0%, rgba(191, 208, 255, 0.76) 40%, #ecd7fff7 60%, #ffc3f5 100%);
  z-index: -1;
}

#danmakuPanel {
  width: 100vw;
  height: calc(100vh - #{$bottomHeight});
  box-sizing: border-box;
  overflow: auto;

  * {
    overflow-anchor: none;
    -webkit-overflow-anchor: none;
  }

  #danmakuPanelBottom {
    overflow-anchor: auto;
    -webkit-overflow-anchor: auto;

    height: 1px;
  }

  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    background: rgba(255, 196, 161, 0);
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 196, 161, 0.5);
  }

  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    /*background: rgba(0,0,0,0.1);*/
    /*border-radius: 5px;*/
    border-radius: 5px;
  }
}


.danmaku {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 8px;

  .prefix {
    display: var(--show-guard-prefix);
    width: $prefixWidth;
    align-items: center;
  }

  .prefixImg {
    width: $prefixWidth;
    height: $prefixWidth;
  }

  .headImg {
    width: $headImgSize;
    height: 100%;
    display: var(--show-user-head-img);
    align-items: center;
  }

  .headImgImg {
    width: $headImgSize;
    height: $headImgSize;
    border-radius: 50%;
  }

  .line {
    width: calc(100% - var(--user-head-img-width));
    line-height: 18px;
    font-size: 12px;
    color: #646c7a;
    align-self: center;
    padding-left: 5px;
  }

  .userName {
    color: #23ade5;
    display: var(--show-user-name);
  }

  .userMedal {
    border: 1px solid #5896de;
    border-left: 0;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    border-radius: 2px;
    font-weight: 400;
    width: 60px;
    display: var(--show-user-medal);

    user-select: none;
    -webkit-user-select: none;
  }

  .medalName {
    background-color: #5896de;
    color: white;
    width: 40px;

    padding: 0 2px;
    text-align: center;
    display: block;
    float: left;
    line-height: 14px;
    white-space: nowrap;
  }

  .medalLevel {
    border-color: #5896de;
    background-color: white;
    width: 16px;
    display: inline-block;
    text-align: center;
  }

  @for $i from 1 through 5 {
    .medalLevel-#{$i * 4 - 3}, .medalLevel-#{$i * 4 - 2}, .medalLevel-#{$i * 4 - 1}, .medalLevel-#{$i * 4},
    {
      border-color: map.get($medalColors, $i);

      .medalName {
        background-color: map.get($medalColors, $i);
      }

      .medalLevel {
        color: map.get($medalColors, $i);
      }
    }
  }

  .ul {
    color: map.get($ulColors, 1);
    display: var(--show-user-level);
    height: 14px;
    line-height: 14px;
    border: 1px solid map.get($ulColors, 1);
    width: 40px;
    border-radius: 2px;
    text-align: center;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;

    user-select: none;
    -webkit-user-select: none;
  }

  @for $i from 1 through 6 {
    @for $j from 0 through 9 {
      .ul-#{$i * 10 - $j } {
        border-color:map.get($ulColors, $i);
        color:map.get($ulColors, $i);
      }
    }
  }
}

#bottom {
  width: calc(100% - var(--guard-prefix-width));
  height: $bottomHeight;
  background-color: #3288ff;
  color: white;
  display: flex;
  justify-content: space-around;
  line-height: $bottomHeight;
  user-select: none;
  -webkit-user-select: none;
  cursor: move;
  margin-left: var(--guard-prefix-width);

  -webkit-app-region: drag;
}

#popularNum {
  width: 55px;
}
