<div v-if="store.state.config.showGuardPrefix" class="prefix">
    <img class="prefixImg" :src="`../config/src/image/${prefixFileName}`" alt="" />
</div>
<a v-if="store.state.config.showUserHeadImg" :href="`https://space.bilibili.com/${userId}`">
    <div class="headImg">
        <img :src="`${userHeadImg}`" alt="" class="headImgImg" />
    </div>
</a>
<div class="line">
    <span v-if="store.state.config.showUserMedal && medalLevel" :class="`userMedal medalLevel-${medalLevel}`">
        <span class="medalName">{{medalName}}</span>
        <span class="medalLevel">{{medalLevel}}</span>
    </span>
    <span v-if="store.state.config.showUserLevel" :class="`ul ul-${userLevel}`">
        UL {{userLevel}}
    </span>
    <a v-if="store.state.config.showUserName" :href="`https://space.bilibili.com/${userId}`">
        <span class="userName" :style="userNameStyle">{{userName}}&nbsp;:</span>
    </a>
    <span class="content">{{content}}</span>
</div>
