<!--<div class="{{outer_div_class}}">-->
    <div class="prefix">
        <img class="prefixImg" src="../config/src/image/{{prefix_file_name}}" alt="">
    </div>
    <a href="https://space.bilibili.com/{{user_id}}">
        <div class="headImg">
            <img src="../cache/image/560dc5713c4f2221906045493154e87586c9cf9c.jpg" alt=""
                 class="headImgImg">
        </div>
    </a>
    <div class="line">
        {{#if medal_level}}
        <span class="userMedal medalLevel-{{medal_level}}">
                <span class="medalName">{{medal_name}}</span>
                <span class="medalLevel">{{medal_level}}</span>
            </span>
        {{/if}}
        <span class="ul ul-{{user_level}}">
            UL {{user_level}}
        </span>
        <a href="https://space.bilibili.com/{{user_id}}">
            <span class="userName" style="{{user_name_style}}">{{user_name}}&nbsp;:</span>
        </a>
        <span class="content">{{content}}</span>
    </div>
<!--</div>-->
