<div class="gift">
    <div class="user">
        <img :src="user.faceUrl" :title="`uid: ${user.id}`" class="headImgImg" @click="focusUser"/>
        <div class="userName" :title="`uid: ${user.id}`" @click="focusUser">{{user.nickName?user.nickName:user.name}}</div>
    </div>
    <div class="send">开通</div>
    <img class="giftImg" :src="`${giftImg}`"/>
    <div class="giftNum">
        <div class="mult">x&nbsp;</div>
        <div class="giftNumNumber" :title="`总价值: ￥${data.guardBuy.data.price}`">{{data.guardBuy.data.num}}</div>
    </div>
</div>
