<div class="gift">
    <div class="user">
        <a :href="`https://space.bilibili.com/${userId}`">
            <div class="headImg">
                <img :src="`${userFaceUrl}`" alt="" class="headImgImg" />
            </div>
        </a>
        <div class="userName">{{userName}}</div>
    </div>
    <div class="send">赠送</div>
    <img class="giftImg" :src="`${giftImg}`" />
    <div class="giftNum">
        <div class="mult">x&nbsp;</div>
        <div class="giftNumNumber">{{giftNumber}}</div>
    </div>
</div>
