<div class="card-detail">
    <div
        class="card-item-middle-top"
        style='border: 1px solid rgb(229, 77, 77); background-image: url("https://i0.hdslb.com/bfs/live/1aee2d5e9e8f03eed462a7b4bbfd0a7128bbc8b1.png"); background-color: rgb(255, 231, 228);'
    >
        <div class="card-item-middle-top-left">
            <div
                class="icon-face"
                style='background-image: url("https://i2.hdslb.com/bfs/face/265ee6499c225182af3290cec2ce653b223e8e82.jpg");'
            ></div>
            <div
                class="icon-face-frame"
                style='background-image: url("https://i0.hdslb.com/bfs/live/9b3cfee134611c61b71e38776c58ad67b253c40a.png");'
            ></div>
        </div>
        <div class="card-item-middle-top-right">
            <div class="name isVip">AstralisFan</div>
            <div class="content-bottom">
                <div class="price">
                    ￥1000
                    <span class="exp">（100万金瓜子）</span>
                </div>
                <!---->
            </div>
        </div>
    </div>
    <div class="card-item-middle-bottom" style="background-color: rgb(229, 77, 77);">
        <div class="input-contain"><span data-v-c95a0e7e="" class="text"></span></div>
        <!---->
        <div
            data-v-c95a0e7e=""
            class="bottom-background"
            style='background-image: url("https://i0.hdslb.com/bfs/live/0cf7b5fdc7084c9ae05f7a371ea2438118529d66.png");'
        ></div>
    </div>
    <div data-v-c95a0e7e="" class="more"></div>
    <!---->
</div>
