<div class="card-detail">
    <div
        class="card-item-middle-top"
        :style='`border: 1px solid ${superChatData.superChat.data.background_bottom_color}; background-image: url("${superChatData.superChat.data.background_image}"); background-color: ${superChatData.superChat.data.background_color};`'
    >
        <div class="card-item-middle-top-left">
            <div
                class="icon-face"
                :style='`background-image: url("${superChatData.superChat.data.user_info.face}");`'
            ></div>
            <div
                class="icon-face-frame"
                :style='`background-image: url("${superChatData.superChat.data.user_info.face_frame}");`'
            ></div>
        </div>
        <div class="card-item-middle-top-right">
            <div class="name isVip">{{superChatData.superChat.data.user_info.uname}}</div>
            <div class="content-bottom">
                <div class="price">
                    ￥{{superChatData.superChat.data.price}}
                                        <span class="exp">（{{superChatData.superChat.data.price/10}}万金瓜子）</span>
                </div>
            </div>
        </div>
    </div>
    <div
        class="card-item-middle-bottom"
        :style="`background-color: ${superChatData.superChat.data.background_bottom_color};`"
    >
        <div class="input-contain">
            <span class="text">
                {{superChatData.superChat.data.message}}
            </span>
        </div>
        <!---->
        <div
            class="bottom-background"
            :style='`background-image: url("${superChatData.superChat.data.background_icon}");`'
        ></div>
    </div>
    <div class="more"></div>
    <!---->
</div>
